
@{
    ViewData["Title"] = "Index";
}
<html>
<head>

    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<body class="container">
    <h1>Hi from Index</h1>
    <h1 class="h1">Hi from Index - Bootstrap</h1>
    <h1 class="h1 alert-danger"> Hello World v2 V6</h1>
    <input type="button" class="btn btn-danger" value="Click on Me" onclick="javascript: alert('ok');" />
</body>
</html>

@*<script src="~/lib/jquery/jquery.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" 
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script >

    //$(document).ready(function () {
    //    alert("doc is ready");
    //});

</script>
